#sponsor {
  width: 75px;
  height: 75px;
  border: 2px solid white;
  border-radius: 15px;
  text-align: center;
  box-sizing: border-box;
  display: inline-block;
  margin: 10px;
  font-size: 15px;
}
